@use "/src/sass/variables.scss" as *;

.ceo {
    padding-bottom: 69px;
    background-color: $white;

    &__title {
        margin-top: 40px;
    }

    &__text {
        margin-top: 12px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__block {
        position: relative;
    }

    &__nav {
        display: flex;
        gap: 10px;
        position: absolute;
        bottom: 0px;
        justify-content: center;
        padding-bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;

        .swiper-pagination-bullet {
            background-color: $white;
            -webkit-tap-highlight-color: transparent;
        }
    }

    .swiper-pagination {
        position: relative;
        width: auto;
        z-index: 10;
        bottom: 0;
        display: block;
    }


    &__slider {
        width: 300px;
        height: 247.37px;

        img {
            width: 300px;
            height: 247.37px;
            object-fit: cover;
            border-radius: 8px;
        }

        &-next,
        &-prev {
            cursor: pointer;
            z-index: 10;
            color: $white;
            -webkit-tap-highlight-color: transparent;
        }
    }
}

@media screen and (min-width: 768px) {
    .ceo {

        &__slider {
            width: 570px;
            height: 470px;

            img {
                width: 570px;
                height: 470px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .ceo {
        padding-bottom: 150px;
    }
}