@use "/src/sass/variables.scss" as *;


.thanksModal {
    padding: 40px;
    width: 200px;
}

.thanksModal__overlay {
    position: fixed;
    /* cover entire viewport */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);
    /* semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 9999;
    /* on top of everything */
}

.thanksModal__content {
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    max-width: 300px;
    text-align: center;
}