@use "/src/sass/variables.scss" as *;

.thanksModal {
    &__wrapper {
        width: 300px;
        margin: 20px auto 0 auto;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0px 0px 30px 0px $shadow;
        background: $white;
        z-index: 10;
        position: relative;
    }


}

@media screen and (min-width: 1200px) {

    .thanksModal {
        &__wrapper {
            width: 564px;
        }
    }
}