@use "/src/sass/variables.scss" as *;

.just-validate-error-label {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: $main-color-dark;
}

.consultation {
    margin-top: 20px;

    &__wrapper {
        background-color: $baige;
        width: 300px;
        border-radius: 0px 40px 0px 40px;
        padding: 20px 5px;
        margin: 0 auto;
    }

    &-title {
        text-align: center;
    }

    &-block {
        margin-top: 15px;
        align-items: center;
    }

    &-button {
        margin: 10px auto 0 auto;
        width: 100%;
    }


    &-text {
        margin-top: 20px;
        font-weight: 300;
        text-align: center;

        span {
            font-size: 13px;
            font-weight: 600;
            line-height: 20px;
            color: $main-color-dark;
        }
    }

    &-block-img {
        margin-top: 20px;
        border-radius: 0px 40px 0px 40px;
    }
}

@media screen and (min-width: 1200px) {

    .consultation {
        margin-top: 150px;

        &__wrapper {
            padding: 5px;
            width: 100%;
            display: flex;
            gap: 10px;
            justify-content: space-between;
        }

        &-block {
            margin: 0;
            padding-left: 20px;

            &-img {
                margin: 0;
                width: 505px;
                height: 363px;
            }
        }



        &-title {
            margin-top: 60px;
            width: 379px;
            text-align: left;
        }

        &-item {
            margin: 0;
            width: 380px;
        }

        &-button {
            margin-top: 0;
            width: 200px;
            height: 58px;
        }
    }
}