@use "/src/sass/base/variables.scss" as *;

.casesPhotos {
    margin-top: 50px;


    &__nav {
        margin-top: 10px;
        display: flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        .swiper-pagination {
            z-index: 10;
            bottom: 2px;
        }

        .swiper-pagination-bullet {
            background-color: $dark;
            -webkit-tap-highlight-color: transparent;
        }

        .swiper-pagination {
            position: relative;
            width: auto;
            z-index: 10;
            display: block;
        }

        .casesPhotos__slider-next,
        .casesPhotos__slider-prev {
            cursor: pointer;
            z-index: 10;
            color: $dark;
            -webkit-tap-highlight-color: transparent;
        }
    }


    &__slider {
        margin-top: 50px;

        &-wrapper {
            display: grid;
            justify-content: center;
            grid-template-rows: repeat(2, 140px);
            grid-template-columns: repeat(2, 140px);
            grid-auto-rows: minmax(140px, auto);
            gap: 10px;

            *:nth-child(odd) {
                display: none;
            }
        }
    }

    &__img {
        width: 140px;
        height: 140px;
        object-fit: cover;
    }
}

@media screen and (min-width: 1200px) {

    .casesPhotos {
        padding: 150px 0;

        &__nav {
            top: 10px;
            transform: none;
            left: auto;
            right: 0% !important;
        }


        &__slider {
            margin-top: 30px;

            &-wrapper {
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: repeat(4, 1fr);
                grid-auto-rows: minmax(270px, auto);
                gap: 30px;

                *:nth-child(odd) {
                    display: block;
                }
            }
        }

        &__img {
            width: 270px;
            height: 270px;
        }
    }
}