$white: rgb(255, 255, 255);
$baige: rgb(255, 251, 247);
$light: rgb(229, 229, 229);
$pale: rgb(231, 216, 199);
$main-color: rgb(243, 156, 50);
$main-color-dark: rgb(203, 135, 52);
$green: #0DC143;
$blue: #419FD9;
$blue-dark: #0034A9;
$shadow: rgba(43, 42, 40, 0.08);
$purple: #675DA9;
$red: #D7280F;
$gray: rgb(130, 130, 130);
$brown: rgb(61, 30, 25);
$dark: rgb(43, 42, 40);