@use "/src/sass/base/variables.scss" as *;

.cases {
    position: relative;

    &__blocks {
        align-items: center;
        align-content: center;
    }

    &__steps {
        margin: 30px auto 0 auto;
        width: 300px;
        min-height: 200px;
        border-radius: 8px;
        padding: 30px 20px;
        box-shadow: 0px 0px 30px 0px $shadow;
        background: $white;
        align-items: center;

        &-button {
            margin: 16px auto 0 auto;
        }

        span {
            color: $main-color-dark;
        }
    }

    &__consultation {
        margin: 20px auto 0 auto;
        width: 300px;
        min-height: 323px;
        padding: 40px 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 30px 0px $shadow;
        background: $white;
        z-index: 100;

        &-item {
            margin: 10px auto 0 auto;
            padding: 12px 0;
            display: flex;
            align-items: center;
            border: 1px solid $pale;
            border-radius: 4px;
            width: 260px;
            height: 50px;

            input {
                border: none;
                width: 160px;
                height: 17px;
            }

            &-input {
                padding: 10px;
                width: 160px;
                height: 17px;
                border: 1px dotted $dark;
                opacity: 0.5;
            }
        }

        &-button {
            margin: 10px auto 0 auto;
        }

        &-text {
            margin-top: 20px;
            font-weight: 300;
            text-align: center;

            span {
                font-size: 13px;
                font-weight: 600;
                line-height: 20px;
                color: $main-color-dark;
            }
        }
    }
}


@media screen and (min-width: 1200px) {

    .cases {
        padding-bottom: 150px;

        &__nav {
            display: none;
        }

        &__steps {
            position: absolute;
            right: 0;
            top: 560px;
            width: 370px;
            height: 250px;
            padding: 50px 45px;
            z-index: 2;

            &-button {
                margin-top: 26px;
            }
        }

        .cardPageSlider__nav {
            display: none;
        }

        &__consultation {
            position: absolute;
            right: 0;
            top: 870px;
            margin: 0;
            width: 370px;
            height: 400px;
            padding: 40px;

            &-item {
                margin: 30px auto 0 auto;
                padding: 20px 0;
                width: 290px;
                height: 58px;
            }

            &-button {
                margin: 20px auto 0 auto;
            }

            &-text {
                margin-top: 30px;
            }
        }
    }
}