@use "/src/sass/variables.scss" as *;

@mixin button {
    border: none;
    color: $white;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(203, 135, 52, 0.2);
    background: linear-gradient(180.00deg, $main-color, $main-color-dark 100%);
    display: flex;
    text-decoration: none;

    &:hover {
        box-shadow: 0px 0px 30px 0px $main-color-dark;
    }
}