@use "/src/sass/base/variables.scss" as *;

.aboutIntro {
    &__block {
        display: grid;

        &-text {
            margin-top: 30px;
        }

        &-img {
            margin: 20px auto 0 auto;
        }
    }
}

.about {
    padding: 100px 0;
    background: $white;

    &__model {
        display: none;
    }

    &__wrapper {
        border-radius: 8px;
        box-shadow: 0px 0px 30px 0px $shadow;
        position: relative;
    }

    &__bg {
        margin-top: 60px;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    &__man {
        position: absolute;
        width: 202.49px;
        height: 247.95px;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    &__label {
        background: $white;
        padding: 29px 22px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        z-index: 2;
        position: absolute;
        top: 170px;
        width: 100%;
        min-height: 210px;
        border-radius: 8px;
        box-shadow: 0px 0px 30px 0px $shadow;
        text-align: center;

        &-img {
            display: none;
        }
    }

    &__items {
        margin-top: 240px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    &__item {
        min-height: 134px;

        &-title {
            color: $main-color-dark;
            text-align: center;

            span {
                color: $main-color-dark;
                font-size: 48px;
            }
        }

        .divider {
            display: block;
            margin: 24px auto 0 auto;
            border-radius: 8px;
            background: $main-color-dark;
            width: 270px;
            height: 2px;
        }

        &-text {
            text-align: center;
            margin-top: 18px;
        }
    }

    &__btns {
        margin: 25px auto 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .about {
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (min-width: 1200px) {

    .aboutIntro {
        &__block {
            grid-template-columns: repeat(2, 1fr);
            gap: 85px;
            align-items: start;
        }
    }

    .about {
        padding: 100px 0;
        position: relative;

        &__bg {
            margin-top: 67px;
            width: 1170px;
            height: 420px;
        }

        &__man {
            top: -70px;
            width: 405.18px;
            height: 496.15px;
        }

        &__model {
            position: absolute;
            display: block;

            &-bottom {
                bottom: 0;
                left: 0;
                width: 421px;
                object-fit: cover;
            }

            &-top {
                top: 0;
                right: 0;
                object-fit: cover;
            }
        }

        &__items {
            grid-template-columns: repeat(4, 255px);
            margin-top: 190px;
        }

        &__item {
            .divider {
                width: 255px;
            }

            &-title {
                text-align: start;
            }
        }

        &__label {
            width: 570px;
            padding: 38px 44px;
            left: 50%;
            margin-top: 150px;
            transform: translateX(-50%);
            display: grid;
            grid-template-columns: 55px 1fr;
            gap: 22px;
            text-align: start;

            &-text {
                margin-top: 6px;
            }

            &-img {
                display: block;
                width: 54px;
                height: 55.23px;
            }
        }

        &__btns {
            justify-content: center;
        }
    }
}

@media screen and (min-width: 1920px) {
    .about {
        &__model {
            &-bottom {
                width: 600px;
            }
        }
    }
}