@use "/src/sass/base/variables.scss" as *;

.filters {
    position: relative;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 11;
    transition: 0.5s all;
    visibility: hidden;
    opacity: 0;
    left: -100%;

    ul {
        list-style-type: none;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: $dark;
    }

    &.active {
        left: 0%;
        visibility: visible;
        opacity: 1;
        background-color: $white;
    }

    &__blocks {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__header {
        height: 61px;
        padding: 18px 5px;
        display: flex;
        justify-content: space-between;

        &-name {
            color: $dark;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;

        }

        &-cancel {
            font-size: 20px;
        }
    }

    &__wrapper {
        margin-top: 20px;
    }

    &__filter {
        &-header {
            display: flex;
            text-align: center;
            justify-content: space-between;
            padding: 0 20px;
            border-radius: 8px;
            margin: 0 auto;
            min-height: 60px;
            box-shadow: 0px 0px 30px 0px $shadow;
            background: $white;
            align-items: center;

            div {
                color: $dark;
                font-size: 16px;
                font-weight: 700;
                line-height: 16px;
            }
        }

        &.active {
            .filters__filter-content {
                display: block;
            }

            .filters__filter-corner {
                rotate: 180deg;
            }

        }

        &-items {
            display: flex;
            gap: 15px;
            flex-direction: column;
            margin-top: 15px;
        }

        &-content {
            display: none;
            margin-top: 24px;
            padding: 0 20px;
        }

        &-name {
            color: $dark;
            font-size: 15px;
            font-weight: 700;
            line-height: 16px;
            text-align: left;
        }

        &-item {
            display: flex;
            gap: 15px;

            span {
                color: $main-color-dark;
            }
        }
    }

}

.slider-container {
    position: relative;
    width: 100%;
    margin: 30px auto;
}

.slider-wrapper {
    position: relative;
}

.styled-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: linear-gradient(to right,
            $main-color-dark 0%,
            $main-color-dark var(--percent),
            rgba(255, 192, 203, 0.2) var(--percent),
            rgba(255, 192, 203, 0.2) 100%);
    border-radius: 3px;
    /*     outline: none;
    position: relative;
    z-index: 1; */
}

.styled-slider::-webkit-slider-runnable-track,
.styled-slider::-moz-range-track {
    height: 6px;
    border-radius: 3px;
}

.value-indicator {
    position: absolute;
    top: -30px;
    font-weight: bold;
    font-size: 9px;
}

.slider-label {
    position: absolute;
    bottom: -25px;
    font-size: 13px;
    color: #333;
}

.slider-label.min {
    left: 0;
}

.slider-label.max {
    right: 0;
}

.styled-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border: 4px solid gray;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -2px;
    position: relative;
    z-index: 3;
}

.styled-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: $white;
    border: 3px solid $gray;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -2px;
    position: relative;
    z-index: 3;
}

@media screen and (min-width: 1200px) {
    .filters {
        padding: 0 20px;
        position: relative;
        left: 0%;
        visibility: visible;
        opacity: 1;
        background-color: $white;

        &__filter {

            &-content {
                padding: 0;
            }
        }
    }
}