@use "/src/sass/base/variables.scss" as *;

.header__mobile {
    &-hamburger {
        width: 25px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        span {
            display: block;
            height: 2px;
            width: 100%;
            border: 2px solid $main-color-dark;
        }
    }
}

.menu {
    position: relative;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100%;
    z-index: 10;
    transition: 0.5s all;
    visibility: hidden;
    opacity: 0;
    left: -100%;

    &.active {
        transition: 0.5s all;
        visibility: visible;
        opacity: 1;
        left: 0%;
        background-color: $white;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin: 0 5px;
        padding-bottom: 10px;
    }

    &__name {
        color: $dark;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }

    &__close {
        padding: 8px 0 0 3px;
        height: 30px;
        width: 30px;


        span {
            display: block;
            width: 25px;
            height: 1px;
            background-color: $dark;

            &:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }

            &:nth-child(2) {
                transform: translateY(8px) rotate(-45deg);
            }
        }
    }

    &__wrapper {
        display: block;

        ul {
            list-style-type: none;
            padding: 0;
            width: 100%;
        }
    }

    &__item {

        img {
            width: 10px;
        }

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 36px;
            border-top: 1px solid $pale;
        }

        &-name {
            color: $dark;
            font-size: 14px;
            font-weight: 700;
            width: 100%;
            border: none;
            background-color: inherit;
            line-height: 146.19%;
            text-align: center;

            ul {
                display: none;

                &.acrive {
                    display: block;
                }
            }
        }


        &-sublist {
            padding: 0 18px;
            background-color: $white;
            display: block;
            overflow: hidden;
        }

        &-content {
            display: none;

            &.active {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }
        }

        &.active {

            .menu__item-corner {
                transform: rotate(180deg);
            }
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 37px;
        left: 50%;
        transform: translateX(-50%);

        button {
            margin-top: 10px;
        }
    }

    &__social {
        display: flex;
        flex-direction: column;

        &-text {
            color: $dark;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            text-align: center;
        }

        &-item {
            display: flex;
            place-content: center;
            place-items: center;
            width: 26px;
            height: 26px;
        }

        ul {
            margin-top: 10px;
            display: flex;
            gap: 4px;
            list-style-type: none;
            justify-content: center;

            .telegram {
                span {
                    color: $blue;
                    font-size: 26px;
                    border-radius: 100%;
                }
            }

            .whatsapp {
                background: $green;
                border-radius: 100%;

                span {
                    color: $white;
                }
            }

            .viber {
                background: $purple;
                border-radius: 100%;
            }
        }
    }

    &__tel {
        margin-top: 22px;
        color: $dark;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        line-height: 16px;
        text-align: center;
    }

    &__date {
        color: $dark;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
    }
}