@use "/src/sass/base/variables.scss" as *;

.header {

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        width: 255px;
        color: $dark;
        font-size: 13px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 8%;
    }

    &__introduction {
        display: flex;
        column-gap: 27px;
        width: 536px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 7px;

        &-tel {
            color: $dark;
            font-size: 20px;
            font-weight: 700;
            line-height: 16px;
        }

        &-date {
            color: $dark;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 8%;
        }
    }

    &__order {
        display: flex;
        flex-direction: column;
        gap: 7px;

        &-text {
            text-align: center;
            color: $dark;
            font-size: 11px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 8%;
        }
    }

    &__language {
        position: relative;

        &-item {

            .white {
                background-color: #fff;
            }

            .blue {
                background-color: $blue-dark;
            }

            .red {
                background-color: $red;
            }

            span {
                display: block;
                width: 21px;
                height: 5px;
            }
        }

        &-arrow {
            width: 6px;
            height: 3px;
            position: absolute;
            top: 50%;
            right: -12px;
        }
    }

    &__menu {
        margin-top: 18px;
        display: flex;
        justify-content: space-between;
        min-height: 72px;

        &-variations {
            display: flex;
            justify-content: space-around;
            width: 620px;
            background-color: $brown;
            height: 72px;
            border-radius: 8px;
            box-shadow: 0px 0px 20px 0px rgba(43, 42, 40, 0.2);
            align-items: center;
        }

        &-info {
            display: flex;
            justify-content: flex-end;
            gap: 84px;
            width: 620px;
            height: 72px;
            align-items: center;
        }

        &-item {
            color: $dark;
            font-size: 16px;
            font-weight: 700;
            line-height: 146.19%;
            letter-spacing: 8%;

            &_brown {
                color: $light;
            }
        }

    }
}

.social {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &__text {
        color: $dark;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
    }

    &__item {
        display: flex;
        place-content: center;
        place-items: center;
        width: 26px;
        height: 26px;
    }

    ul {
        padding: 0;
        display: flex;
        gap: 4px;
        list-style-type: none;

        .telegram {
            background: $blue;
            border-radius: 100%;
        }

        .whatsapp {
            background: $green;
            border-radius: 100%;
        }

        .viber {
            background: $purple;
            border-radius: 100%;
        }
    }
}