@use "/src/sass/base/variables.scss" as *;

.promo {
    padding-top: 13px;
    background-color: $baige;

    &__info {
        display: block;
        width: 255px;
        color: $dark;
        font-size: 11px;
        font-weight: 600;
        line-height: 18px;
        margin: 0 auto;
        text-align: center;
    }

    &__title {
        margin-top: 16px;
    }

    &__img {
        margin: 0 auto;
        position: relative;
        object-fit: cover;
        width: 300px;
        height: 246.83px;
    }

    &__scoop {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 83.12px;
        height: 62px;
    }

    &__tree {
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        height: 74.71px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;

    }

    &__buttons {
        margin-top: 19px;
        display: flex;
        flex-direction: column;
        gap: 19px;
        align-items: center;
        order: 3;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }


    &__bathhouse {
        gap: 9px;
        text-decoration: none;

        &-circle {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            border: 1px solid $main-color-dark;
            position: relative;

            img {
                position: absolute;
                width: 5px;
                height: 10px;
                left: 43%;
                transform: translateX(-50%);
                top: 50%;
                transform: translatey(-50%);
            }
        }

        &-text {
            color: $main-color-dark;
            font-size: 15px;
            font-weight: 600;
        }
    }
}


@media screen and (min-width: 768px) {
    .promo {
        &__img {
            width: 615px;
            height: 506px;
        }

        &__scoop {
            bottom: 47px;
            left: 18px;
            width: 121px;
            height: 113px;
            object-fit: cover;
        }

        &__tree {
            top: 24px;
            right: 0px;
            width: 122px;
            height: 91px;
            object-fit: cover;

            img {
                width: 122px;
                height: 91px;
            }
        }
    }
}



@media screen and (min-width: 1200px) {

    .promo {
        background-color: $baige;
        padding-top: 22px;

        &__info {
            display: none;
        }

        &__title {
            margin-top: 120px;
            color: $dark;
            font-size: 38px;
            font-weight: 800;
            line-height: 50px;
        }

        &__subtitle {
            padding-top: 8px;
            color: $dark;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
        }


        &__wrapper {
            flex-direction: row;

            &-info {
                display: flex;
                flex-direction: column;
                width: 551px;
                align-items: center;
            }

            &-img {
                margin-top: 5px;
                position: relative;
                margin-left: auto;
                width: 589px;
                height: 506px;
            }
        }

        &__buttons {
            flex-direction: row;
            gap: 44px;
            margin-top: 26px;
        }
    }
}