@use "/src/sass/variables.scss" as *;

.thumbsSlider {
    background-color: $white;
    padding-top: 13px;


    &__wrapper {
        margin-top: 20px;
    }

    &__nav {
        display: flex;
        gap: 10px;
        position: absolute;
        bottom: 0px;
        justify-content: center;
        padding-bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        width: 200px;

        .swiper-pagination-bullet {
            background-color: $white;
            -webkit-tap-highlight-color: transparent;
        }
    }



    &__slider {
        width: 340px;
        height: 247.37px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0px 40px 0px 40px;
        }

        &-next,
        &-prev {
            cursor: pointer;
            z-index: 10;
            color: $white;
            -webkit-tap-highlight-color: transparent;
        }
    }

    &__thumbs {
        display: flex;
        gap: 5px;
        justify-content: center;
        margin-top: 10px;

        &-thumb {
            width: 57.01px;
            height: 54.14px;
            object-fit: cover;
            border-radius: 0px 10.65px 0px 10.65px;
            opacity: 0.5;
            transition: all 0.5s;

            &.active {
                opacity: 1;
            }
        }
    }

}

@media screen and (min-width: 768px) {
    .thumbsSlider {

        &__slider {
            width: 400px;
            height: 350px;
        }

        &__thumbs {
            gap: 10px;

            &-thumb {
                width: 100.01px;
                height: 75.14px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .removePagination {
        display: none;
    }

    .thumbsSlider {
        padding-top: 60px;

        &__wrapper {
            margin-top: 40px;
        }

        &__nav {
            left: 80%;

            transform: translateX(-50%);
        }

        &__slider {
            width: 910px;
            height: 560px;
            margin-right: 39px;

            img {
                margin-right: 20px;
            }
        }

        &__thumbs {
            display: flex;
            flex-direction: column;
            gap: 13px;
            justify-content: start;

            &-thumb {
                width: 150px;
                height: 100px;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .thumbsSlider {
        &__slider {
            width: 930px;
        }

        &__thumbs {

            &-thumb {
                width: 170px;
                height: 100px;
            }
        }
    }
}