@use "/src/sass/variables.scss" as *;

.cases {
    position: relative;

    &__blocks {
        align-items: center;
        align-content: center;
    }

    &__steps {
        margin: 30px auto 0 auto;
        width: 300px;
        min-height: 200px;
        border-radius: 8px;
        padding: 30px 20px;
        box-shadow: 0px 0px 30px 0px $shadow;
        background: $white;
        align-items: center;

        &-button {
            margin: 16px auto 0 auto;
        }

        span {
            color: $main-color-dark;
        }
    }

    &__consultation {
        margin: 20px auto 0 auto;
        width: 300px;
        min-height: 323px;
        padding: 40px 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 30px 0px $shadow;
        background: $white;
        z-index: 100;

        &-items {
            display: flex;
            flex-direction: column;
            gap: 0;
        }

        &-item {
            margin: 10px auto 0 auto;
            padding: 12px 0;
            display: flex;
            align-items: center;
            border: 1px solid $pale;
            border-radius: 4px;
            width: 260px;
            height: 50px;

            input {
                border: none;
                width: 160px;
                height: 17px;
            }
        }

        &-button {
            margin: 10px auto 0 auto;
        }
    }
}


@media screen and (min-width: 1200px) {

    .cases {
        padding-bottom: 150px;

        &__nav {
            display: none;
        }

        &__steps {
            position: absolute;
            right: 0;
            top: 560px;
            width: 370px;
            height: 250px;
            padding: 50px 45px;
            z-index: 2;
            margin: 20;

            &-button {
                margin-top: 26px;
            }
        }

        &__consultation {
            position: absolute;
            right: 0;
            top: 870px;
            margin: 0;
            width: 370px;
            height: 400px;
            padding: 40px;

            &-item {
                margin: 30px auto 0 auto;
                padding: 20px 0;
                width: 290px;
                height: 58px;
            }

            &-button {
                margin: 20px auto 0 auto;
            }

        }
    }
}