@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.button {
    @include button;
    width: 160px;
    height: 46px;
    font-size: 13px;
}

.button-catalog {
    @include button;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    width: 230px;
    height: 58px;

    @media screen and (min-width: 1200px) {
        width: 280px;
        height: 66px;
        font-size: 14px;
    }
}

.button-mix {
    margin-top: 19px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {

        flex-direction: row;
        gap: 44px;
        margin-top: 26px;
    }
}

.button-circe {
    gap: 9px;
    text-decoration: none;

    &__circle {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 1px solid $main-color-dark;
        position: relative;

        span {
            position: absolute;
            font-size: 13px;
            left: 20%;
            transform: translateX(-50%);
            top: 52%;
            transform: translatey(-50%);
            color: $main-color-dark;
        }
    }

    &__text {
        color: $main-color-dark;
        font-size: 15px;
        font-weight: 600;
    }
}

@media screen and (min-width: 1200px) {
    .button-catalog {
        width: 280px;
        height: 66px;
        font-size: 14px;

    }

    .button-mix {
        flex-direction: row;
        gap: 44px;
        margin-top: 26px;

    }
}