@use "/src/sass/base/variables.scss" as *;

.consultation {
    padding: 40px 0 0 0;
    margin: 60px auto 0 auto;
    background-color: $baige;
    width: 300px;
    border-radius: 0px 40px 0px 40px;

    &-title {
        text-align: center;
    }

    &-block {
        margin-top: 15px;
        align-items: center;
    }

    &-phone {
        margin: 0 auto;
        display: flex;
        align-items: center;
        border: 1px solid $pale;
        border-radius: 4px;
        height: 58px;
        width: 300px;

        input {
            border: 2px dotted $pale;
            width: 118px;
            height: 17px;
        }
    }

    &-button {
        margin: 10px auto 0 auto;
        width: 300px;
    }

    &-language {
        position: relative;
        padding: 20px;

        span:nth-child(1) {
            display: block;
            width: 30px;
            height: 10px;
            background-color: blue;
        }

        span:nth-child(2) {
            display: block;
            width: 30px;
            height: 10px;
            background-color: yellow;
        }

        span:nth-child(3) {
            font-size: 10px;
            position: absolute;
            display: block;
            right: 5px;
            color: $dark;
            top: 23px;
        }
    }

    &-text {
        margin-top: 20px;
        font-weight: 300;
        text-align: center;

        span {
            font-size: 13px;
            font-weight: 600;
            line-height: 20px;
            color: $main-color-dark;
        }
    }

    &-block-img {
        margin-top: 20px;

        border-radius: 0px 40px 0px 40px;
    }
}

@media screen and (min-width: 1200px) {


    .consultation {
        margin-top: 150px;
        padding: 5px;
        width: 100%;
        display: flex;
        gap: 30px;
        justify-content: space-between;

        &-block {
            margin: 0;
            padding-left: 60px;

            &-wrapper {
                margin-top: 15px;
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }

        &-block-img {
            margin: 0;
            width: 544px;
            height: 363px;
        }

        &-title {
            margin-top: 60px;
            width: 379px;
            text-align: left;
        }

        &-phone {
            margin: 0;
        }

        &-button {
            margin-top: 0;
            width: 200px;
            height: 58px;
        }
    }
}

/*             <div class="consultation"><div class="consultation-block"><h3 class="consultation-title title-fw400">Закажите консультацию,
            если сомневаетесь</h3><div class="consultation-block-wrapper"><div class="consultation-phone"><div class="consultation-language"><span></span><span></span><span class="icon-down-open"></span></div><input type="tel" name="phone" id="phone" placeholder="+38 XXX XXX XX XX"></div><a class="button-big consultation-button">Заказать</a></div><div class="consultation-text">Отправляя данные,
            Вы соглашаетесь на обработку <span>персональных данных</span></div></div><img class="consultation-block-img" src="/src/img/cardPage/cardPage-man.jpeg" alt="cardPage-man"></div> */