 @use "/src/sass/base/variables.scss" as *;

 .social__list {
     display: flex;
     gap: 5px;
     justify-content: center;
     margin-top: 10px;

     &-item {
         display: block;
         border-radius: 100%;
         width: 26px;
         height: 26px;

         img {
             color: $white;
             position: relative;
             width: 12.46px;
             height: 12.46px;
             left: 50%;
             transform: translateX(-50%) translateY(-50%);
             top: 50%;
         }

         &_big {
             width: 46px;
             height: 46px;

             img {
                 width: 21.23px;
                 height: 22.38px;
             }
         }
     }

     .telegram {
         background-color: $blue;
     }

     .whatsapp {
         background: $green;
     }

     .viber {
         background: $purple;
     }
 }