@use "/src/sass/base/variables.scss" as *;

.text_fw400 {
    color: $dark;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.text_fw300 {
    color: $dark;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    text-align: start;
}

@media screen and (min-width: 1200px) {
    .text_fw300 {
        text-align: left;
        font-size: 15px;
        line-height: 30px;
    }

    .text_fw400 {
        color: $dark;
        font-size: 18px;
        line-height: 30px;
        text-align: left;
    }
}