@use "/src/sass/base/variables.scss" as *;

.title-fw400 {
    color: $dark;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.title-fw700 {
    color: $dark;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.title-fw800 {
    color: $dark;
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    text-align: center;
}

.title-card {
    color: $dark;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.title-wrapper {

    .backButton {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .title-fw400 {
        font-size: 30px;
    }

    .title-fw700 {
        font-size: 36px;
        line-height: 58px;
        text-align: left;
    }

    .title-fw800 {
        font-size: 38px;
        line-height: 50px;
        text-align: left;
    }

    .title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .backButton {
            height: 40px;
            display: flex;
            gap: 12px;
            align-items: center;
            cursor: pointer;

            &-circle {
                width: 30px;
                height: 30px;
                border-radius: 100%;
                align-items: center;
                border: 1px solid $main-color-dark;
                position: relative;

                span {
                    position: absolute;
                    font-size: 13px;
                    left: 17%;
                    transform: translateX(-50%);
                    top: 50%;
                    transform: translatey(-50%);
                    color: $main-color-dark;
                }
            }

            &-text {
                color: $main-color-dark;
                font-size: 16px;
                font-weight: 600;
                line-height: 16px;
                text-align: left;
            }
        }
    }
}