@use "/src/sass/base/variables.scss" as *;

.title-fw400 {
    color: $dark;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.title-fw700 {
    color: $dark;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.title-fw800 {
    color: $dark;
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    text-align: center;
}

.title-card {
    color: $dark;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

@media screen and (min-width: 1200px) {
    .title-fw400 {
        font-size: 30px;
    }

    .title-fw700 {
        font-size: 36px;
        line-height: 58px;
        text-align: left;
    }

    .title-fw800 {
        font-size: 38px;
        line-height: 50px;
        text-align: left;
    }
}