@use "/src/sass/base/variables.scss" as *;

.title {
    color: $dark;
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
}

.title-fz700 {
    color: $dark;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .title-fz700 {
        color: $dark;
        font-size: 36px;
        line-height: 58px;
        text-align: left;
    }
}